* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: black;
}


.memory-game {
width: 640px;
height: 640px;
margin: auto;
display: flex;
flex-wrap: wrap;
border: 2px solid darkgoldenrod;
}

.memory-card {
width: calc(25% - 10px);
height: calc(33.333% - 10px);
margin: 5px;
position: relative;
transform: scale(1);
}

.memory-card:active {
    transform: scale(0.34);
    transition: transform 0.3s;
  }
  
.front-face,
.back-face {
width: 100px;
height: 100px;
padding: 20px;
position: absolute;
border-radius: 5px;
border: 2px solid darkgoldenrod;
background: black;
}

/*img {
    width: 100px;
}*/

