* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    background-position: initial;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 600;
    font-style: normal;
    background: black;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
  }

.memory-game {
width: 600px;
height: 600px;
margin: auto;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
perspective: 1000px;
}

.memory-card {
width: calc(25% - 1px);
height: calc(26% - 10);
margin: 5px;
position: relative;
flex-direction: column;
transform: scale(1);
transform-style: preserve-3d;
transition: transform 0.5s;
}

.memory-card:active {
    transform: scale(.47);
    transition: transform .3s;
}

.front-face,
.back-face {
width: 100px;
height: 100px;
border-radius: 55px;
position: absolute;
padding: 20px;
backface-visibility: hidden;
background: black;;
border: 5px darkgoldenrod;
}

img {
    width: 100px;
}

h1 {
    color: darkgoldenrod;
    font-family: 14px Arial, Helvetica, sans-serif;
    font-size: 45px;
}


p {
    color: darkgoldenrod;
    font-family: 14px Arial, Helvetica, sans-serif;
}

ul {
    color: darkgoldenrod;
    font-family: 14px Arial, Helvetica, sans-serif;
}

title {
    color: darkgoldenrod;
    font-family: 14px Arial, Helvetica, sans-serif;
}

#reset {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 150px;
    font-size: 20px;
    border:darkgoldenrod;
    border-radius: 18px;
    padding: 0px;
  }